header .profile {
    float: right;
    margin-right: 5%;
}

.content{
    margin: 1em 4em;
    padding:1em;
    border-radius: 0.3em;
}

.content>section {
    width: 33%;
}


.flex{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 1em 1em;
    padding:1em;
    border-radius: 0.3em;
}

