/*Default style van Marnick Hartgers*/
*{
    padding:0;
    margin:0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(106,232,135);/*color 2*/
}
/* header */
header{
    position: fixed;
    left: 0px;
    top:0px;
    right: 0px;
    height: 6em;
    box-shadow: 0 0.2em 0.2em rgb(100,150,100);
    background-color: rgb(117,255,188); /*color 3*/
    transition: height 0.3s;
    overflow: hidden;
}
#header_toggle_button[type=checkbox]:checked + header{
    height: 20em;
}
h1.header_title{
    margin: 0;
    padding-left: 1em;
    padding-top: 0.90em;
}
h1.header_title> span{
    vertical-align: top;
}
ul.header_index{
    position: absolute;
    top: 6em;
    left: 6.5em;
    right: 6.5em;
    list-style: none;
    padding:0;
}
ul.header_index > li{
    margin-bottom: 5px;
    width: 100%;
    background-color: rgba(106,232,135,1);
    padding: 10px;
}
label.header_toggle_button_label{
    margin-right: 1em;
}
label.header_toggle_button_label > img{
    width: 1.1em;
    height: 1.1em;
}
#header_toggle_button{
    position: fixed;
    left: -10em;
}

/* end header*/

/* content*/
main.page-content{
    margin-top: 120px;
    
}
div.content_flexbox{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

article.content{
    background-color: rgb(137,255,129);
    margin: 1em 4em;
    padding:1em;
    box-shadow: 0.2em 0.2em 0.2em rgb(100,150,100);
    border-radius: 0.3em;
}

article.flexbox_content{
    background-color: rgb(137,255,129);
    margin: 1em 1em;
    padding:1em;
    box-shadow: 0.2em 0.2em 0.2em rgb(100,150,100);
    border-radius: 0.3em;
}

section.sub-content{
    border-left: solid white 1px;
    padding-left: 10px;
}

.color1{
    background-color: rgb(137,255,129);
}
.color2{
    background-color: rgb(106,232,135);
}
.color3{
    background-color: rgb(117,255,188);
}
.color4{
    background-color: rgb(158,232,106);
}
.color5{
    background-color: rgb(222,255,117);
}
/* end content */


.artiekel_met_foto{
    min-width: 200px;
    width: 20%;
    height: 300px;
}

.artiekel_met_foto > img{
    width: 100%;
}