.content{
    margin: 1em 4em;
    padding:1em;
    border-radius: 0.3em;
}

.content>section {
    width: 33%;
}


div.flex, main.flex{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

main.flex {
    justify-content: space-around;
}

article.flex{
    margin: 1em 1em;
    padding:1em;
    border-radius: 0.3em;
}

header>div.user{
    position: absolute;
    top: 10px;
    right: 10px;
    width:auto;
    white-space: nowrap;
}