/* Used to make the header invisible while watching*/
header{
    transition: all 0.3s;
    opacity: 0;
    z-index: 1;
}
header:hover{
    opacity: 1;
}
body{
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom:0;
}
main{
    height: 100%;
    overflow: hidden;
}
.movie_container{
    margin-top: 0 !important; /* Reset the top margin*/
    height: 100%;
    width: 100%;
}
.movie_container > iframe{
    height: 100%;
    width: 100%;
    border:none;
}